button {
    width: 9rem;
    height: 2.5rem;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}



.edit-button , .register-button, .login-button, .edit-modal-button, .comment-product-modal-button {
    background-color: #015F43;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button {
    background-color: #F75A68;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button, .comment-product-button , .logout-button{
    background-color: #FBA94C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-icon, .delete-icon {
    margin: 5px
}